[submodule "plugins/external/KStrike"]
	path = plugins/external/KStrike
	url = https://github.com/brimorlabs/KStrike
[submodule "plugins/external/analyzeMFT"]
	path = plugins/external/analyzeMFT
	url = https://github.com/IncideDigital/analyzeMFT.git
[submodule "plugins/external/srum-dump"]
	path = plugins/external/srum-dump
	url = https://github.com/MarkBaggett/srum-dump.git
